html {
    height: min-content;
}

body {
    background-color: #efefef;
    height: 400px;
    width: 300px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #dddddd;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

#title-found, #random-title, #no-title {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 8px;
}

#title-found, #random-title {
    display: none;
}

#no-title {
    display: flex;
}

#syncButton {
    margin-top: 8px;
}